.list-files-wait-upload {
    width: 300px;
    height: auto;
    position: absolute;
    right: 20px;
    bottom: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(0, 0, 0, 0.1);
}

.header-list-files {
    border-radius: 10px;
    flex-grow: 1;
    height: 35px;
    background-color: white;
    position: sticky;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 10px;
    gap: 5px;
}

p.upload-status {
    padding: 3px 8px;
    border-radius: 10px;
    font-size: 10px;
}

p.upload-status.success {
    background-color: rgb(114, 187, 114);
}

p.upload-status.failed {
    background-color: rgb(255, 72, 72);
    color: white;
}

.list-files {
    width: 100%;
    max-height: 400px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    /* gap: 5px */
}

.list-files-btn-group {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px;
    gap: 5px;
}

.btn-list-files {
    cursor: pointer;
    flex-grow: 1;
    height: 35px;
    background-color: rgb(82, 177, 82);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: 0.3s;

    &:hover {
        background-color: rgb(61, 151, 61);
    }

    img {
        height: 16px;
        width: 16px;
    }
}


.btn-cancel-all {
    flex-grow: 0;
    width: 35px;
    background-color: red;

    &:hover {
        background-color: rgb(138, 10, 10);
    }

    img {
        height: 20px;
        width: 20px;
    }
}



.item-file {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
    transition: 0.3s;

    &:hover {
        background-color: rgba(0, 0, 0, 0.08);
    }
}

.item-file img {
    height: 100%;
    width: 50px;
    object-fit: cover;
    border-radius: 3px;
}

.item-file .file-details {
    height: 100%;
    width: 170px;
    display: flex;
    flex-direction: column;

    h5 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block;
        width: 100%;
    }
}

.item-file .file-details span {
    font-size: 10px;
    color: rgb(148, 148, 148);
}

.item-file .btn-cancel {
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    background-color: rgb(226, 226, 226);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    transition: 0.3s;
    margin-left: auto;

    &:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.2);
    }
}

/* .item-file .btn-cancel img {
    min-width: 80%;
    height: 80%;
    object-fit: fill;
} */