



.content-header {
  height: 60px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #FDE9FF;
}

.computer-name {
  display: flex;
  align-items: center;
  gap: 8px;
}


.tools-group {
  display: flex;
  align-items: center;
  gap: 15px;
}

.tool-icon {
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  transition: 0.3s;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  & img {
    transition: 0.3s;
  }

  &:hover {
    background-color: #fbceff;
    
    img {
      transform: scale(1.06);
    }
  } 
}

.content-header-icon {
  height: 16px;
}

.content-body {
  min-height: calc(100vh - 120px);
  display: flex;
  justify-content: center;
  padding: 10px;
}

.file-not-found {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

