.body {
  /* padding: 10px; */
  display: flex;
}

.sidebar{
  padding: 20px;
  min-width: 300px;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 25px;
  /* background-color: gray; */
}

.sidebar-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.device-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.device-list hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 5px 0;
}

.content {
  flex-grow: 1;
  padding: 20px;
  box-sizing: border-box;
}

.content-header {
  height: 60px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #FDE9FF;
}

.computer-name {
  display: flex;
  align-items: center;
  gap: 8px;
}


.tools-group {
  display: flex;
  align-items: center;
  gap: 15px;
}

.tool-icon {
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  transition: 0.3s;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  & img {
    transition: 0.3s;
  }

  &:hover {
    background-color: #fbceff;
    
    img {
      transform: scale(1.06);
    }
  } 
}

.content-header-icon {
  height: 16px;
}

.content-body {
  min-height: calc(100vh - 120px);
  display: flex;
  justify-content: center;
  padding: 10px;
}

.file-not-found {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

