.device-list-container {
    /* padding-top: 20px; */
    text-align: center;
    display: flex;
    flex-direction: column;
}

.device-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.device-item {
  min-width: 120px;
  max-width: 150px;
  height: 200px;
  padding: 10px 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .08);
  border: 1px solid rgba(0, 0, 0, .08);
  transition: .4s;


  & img {
    width: 50%;
  }

  & div {
    flex-direction: column;
    display: flex;
    text-align: center;


    h3 {
      margin: 10px 0;
    }
  }
}

.device-item:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, .4);
  transform: scale(1.01);
}