@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap');


:root {
  padding: 0px;
  margin: 0px;
}

html, body, #root {
  margin: 0px;
  padding: 0px;
}

body {
   font-family: "Anuphan", "Inter", sans-serif;
  line-height: 1.2;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
  padding: 0px;
}

.tag {
  color: rgb(165, 165, 165);
}

.tag-warning {
  color: #fc0015;
}

.tag-warning-bold {
  color: #fc0015;
  font-weight: bold;
}

.water-mark {
  cursor: default;
  color: rgba(0, 0, 0, 0.25);
}

.hide {
  display: none;
}

p.card-text {
  padding: 3px 5px;
  border-radius: 3px;
  font-size: 9px;
  color: white
}

.bg-green {
  background-color: #7ec08e;
}

.bg-red {
  background-color: #d42231;
}

.bg-blue {
  background-color: #4ba2ca;
}

img.small {
  width: 14px;
  height: 14px;
}

div.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

div.column {
  display: flex;
  flex-direction: column;
}

button {
  transition: 0.3s;
}