@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  font-family: 'Inter', sans-serif;
  font-family: 'Roboto', sans-serif; /* Clean, modern font for body text */
  padding: 0px;
  margin: 0px;
}

html, body, #root {
  margin: 0px;
  padding: 0px;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Inter', sans-serif;
  margin: 0px;
  padding: 0px;
}

.tag {
  color: rgb(155, 155, 155);
}

.water-mark {
  cursor: default;
  color: rgba(0, 0, 0, 0.25);
}

.hide {
  display: none;
}

p.card-text {
  padding: 3px 5px;
  border-radius: 3px;
  font-size: 9px;
  color: white
}

.bg-green {
  background-color: #7ec08e;
}

.bg-red {
  background-color: #d42231;
}

.bg-blue {
  background-color: #4ba2ca;
}