.body {
  /* padding: 10px; */
  display: flex;
  position: relative;
}

.sidebar {
  padding: 20px;
  min-width: 300px;
  max-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 25px;
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.05);
  /* background-color: gray; */
}

.sidebar-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.device-list {
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sidebar-bottom {
  width: 100%;
  height: 70px;
  /* background-color: #ccc; */
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.device-list hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 5px 0;
}

.content {
  flex-grow: 1;
  padding: 20px;
  box-sizing: border-box;
}

.content-header {
  height: 60px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #FDE9FF;
}

.header-title {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
}

.computer-name {
  display: flex;
  align-items: center;
  gap: 10px;
}


.tools-group {
  display: flex;
  align-items: center;
  gap: 15px;
}

.tool-icon {
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  transition: 0.3s;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  & img {
    transition: 0.3s;
  }

  &:hover {
    background-color: #fbceff;

    img {
      transform: scale(1.06);
    }
  }
}

.tool-icon-upload {
  cursor: pointer;
  padding: 9px 15px;
  border-radius: 5px;
  transition: 0.3s;
  /* width: 24px; */
  /* height: 24px; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #fbceff;

  &:hover {
    background-color: #ecb1f1;
  }
}

.tool-icon.active {
  background-color: #fbb1ff;

  img {
    transform: scale(1.1);
  }
}

.tool-icon.loading::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: 3px solid;
  border-color: #fbb1ff transparent;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.content-header-icon {
  height: 16px;
}

.computer-name-input {
  border: none;
  border-radius: 5px;
  background-color: #fcd5ff;
  border: 1px solid #da6ada;
  padding: 10px 10px;
  font-size: 1.1em;
  outline: none;
  transition: 0.2s;
}

.content-body {
  min-height: calc(100vh - 120px);
  display: flex;
  justify-content: center;
  padding: 10px;
}

.footer {
  /* background-color: black; */
  display: flex;
  justify-content: center;
}

.file-not-found {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.overlay-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(4px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.overlay-content {
  width: 100%;
  flex-grow: 1;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.overlay-content .overlay-img-index-content {
  flex-grow: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-content img.overlay-img-index {
  max-width: 100%;
  max-height: 95vh;
  border-radius: 5px;
}

.overlay-img-list {
  box-sizing: border-box;
  padding: 5px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
  width: 100%;
  height: 100px;
  gap: 5px;
}

.overlay-img-list-item {
  border-radius: 3px;
  height: 100%;
  flex-shrink: 0;
  min-width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.overlay-img-list-item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 3px;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.overlay-img-list-item:hover::before {
  opacity: 0;
}

.overlay-img-list-item.active::before {
  opacity: 0;
}

.overlay-img-list-item img {
  border-radius: 3px;
  max-height: 100%;
  width: auto;
}

.btn-overlay {
  max-width: 10%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 20px;
  transition: 1s;
}

.btn-overlay.btn-prev {
  background-color: rgba(0, 0, 0, 0.1);
  /* background: linear-gradient(270deg, rgba(55, 26, 26, 0) 0%, rgba(0, 0, 0, 0.7) 100%); */
}

.btn-overlay.btn-next {
  justify-content: end;
  background-color: rgba(0, 0, 0, 0.1);
  /* background: linear-gradient(90deg, rgba(55, 26, 26, 0) 0%, rgba(0, 0, 0, 0.7) 100%); */
}

.btn-overlay:hover {
  background: rgba(0, 0, 0, 0.4);
}