.body {
  /* padding: 10px; */
  display: flex;
  position: relative;
}

.content {
  flex-grow: 1;
  padding: 20px;
  box-sizing: border-box;
}

.content-body {
  min-height: calc(100vh - 120px);
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

.overlay-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.file-not-found {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


