.body {
  /* padding: 10px; */
  display: flex;
  position: relative;
}

.sidebar {
  padding: 20px;
  min-width: 300px;
  max-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 25px;
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.05);
  /* background-color: gray; */
}

.sidebar-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.device-list {
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sidebar-bottom {
  width: 100%;
  height: 70px;
  /* background-color: #ccc; */
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.device-list hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 5px 0;
}

.content {
  flex-grow: 1;
  padding: 20px;
  box-sizing: border-box;
}

.content-body {
  min-height: calc(100vh - 120px);
  display: flex;
  justify-content: center;
  padding: 10px;
}

.footer {
  /* background-color: black; */
  display: flex;
  justify-content: center;
}

.file-not-found {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


