.body {
  /* padding: 10px; */
  display: flex;
  position: relative;
}

.content {
  flex-grow: 1;
  padding: 20px;
  box-sizing: border-box;
}

.content-body {
  min-height: calc(100vh - 120px);
  display: flex;
  justify-content: center;
  padding: 10px;
}

.file-not-found {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


