.my-file-list-container {
    padding-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-file-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.file-item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 150px;
    gap: 5px;
    position: relative;
    transition: 1s;
    
    .del-btn {
        display: none;
    }
}

.file-item:hover {
    .del-btn {
        cursor: pointer;
        width: 100%;
        position: absolute;
        top: 0px;
        background-color: rgba(255, 0, 0, .5);
        display: flex;
        justify-content: center;
        align-content: center;
        padding: 5px 0;
        border-radius: 5px 5px 0 0;
    }
}

.file-item img.image {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 5px;
}

.image-full-view {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    /* border: 4px solid black; */
    background: rgba(0, 0, 0, 0.2);
    display: flex;

    justify-content: center;
    align-items: center;
    overflow: auto;
    z-index: 999;
}

.image-full-view img {
    max-height: 90%;
    max-width: 90%;
    display: flex;
}

.image-full-view .close-btn {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    width: 24px;
    height: 24px;
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.5s;
}

.image-full-view .close-btn:hover {
    background-color: black;
}