.sidebar-setting-item {
  padding: 10px 15px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
  color: rgb(128, 128, 128);
}

.sidebar-setting-item:hover {
  background-color: #fef2ff;
  color: black;
}

.sidebar-setting-item.active {
  background-color: #FDE9FF;
  color: black;
}


