.device {
  height: 60px;
  padding: 0 18px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 15px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.device.active {
  background-color: #FDE9FF;
}

.device:hover {
  background-color: #fef2ff;
}

.device img {
  height: 40%;
}

.device .device-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;

  & span {
    font-size: small;
    font-style: italic;
  }
}

.device .btn-verify {
  margin-left: auto;

  & button {
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    background-color: #8b5cf6;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    font-size: 12px;
  }

  & button:hover {
    background-color: #7c3aed;
  }
}