.file-list {
    flex-grow: 1;
    max-height: calc(100vh - 120px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    overflow: auto;
}

.file-item {
    position: relative;
    width: 120px;
    max-width: 150px;
    height: 150px;
    max-height: 220px;
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    border-radius: 5px;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.12); */
    padding: 5px;
    transition: 0.2s;

    &:hover {
        background-color: #fbe4fd;
        box-shadow: none;
    }
}

.file-item img.file-icon {
    width: 100%;
    height: 90%;
    object-fit: cover;
    border-radius: 3px;
    border: none;
}

.file-item h6 {
    max-width: 100%;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.file-progress {
    position: absolute;
    left: 0;
    top: 0;   
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.progress {
  background: rgba(255,255,255,0.1);
  justify-content: flex-start;
  border-radius: 10px;
  align-items: center;
  position: relative;
  padding: 0 1px;
  display: flex;
  height: 10px;
  width: 60%;
  border: 1px solid black;
}

.progress-value {
  /* animation: load 3s normal forwards; */
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: black;
  height: 8px;
  width: 0;
  transition: 0.5s ease-out;
}

/* @keyframes load {
  0% { width: 0; }
  100% { width: 68%; }
} */