.file-list {
  flex-grow: 1;
  max-height: calc(100vh - 120px);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  gap: 10px;
  overflow: auto;
  justify-content: flex-start;
}

.file-item {
  /* flex-grow: 1; */
  position: relative;
  width: 120px;
  max-width: 150px;
  height: 150px;
  max-height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  border-radius: 5px;
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); */
  padding: 5px;
  transition: 0.3s;
  
  &:hover {
    background-color: #f1f1f1;
    /* background-color: #fbe4fd; */
    /* box-shadow: none; */
  }
}

.file-item .file-icon-container {
  background-color: #f1f1f1;
  border-radius: 5px;
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.file-item .file-icon-container img.image-icon {
  width: 100%;
  height: 90%;
  object-fit: contain;
  border-radius: 3px;
  border: none;
}

.file-item h6 {
  max-width: 100%;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.file-progress {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.progress {
  position: relative;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  /* padding: 2px 2px; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 10px;
  width: 80px;
  /* border: 1px solid black; */
}

.progress-value {
  /* animation: load 3s normal forwards; */
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: black;
  height: 8px;
  width: 0;
  transition: 0.5s ease-out;
}

/* @keyframes load {
  0% { width: 0; }
  100% { width: 68%; }
} */

.other-file-icon {
  width: 32px;
  height: 32px;
}