.overlay-content-user-permission-manage {
    background: white;
    padding: 15px;
    border-radius: 8px;
    min-width: 430px;
    width: 30%;
    max-width: 90%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-height: 70%;
}

.form-add-user-permission {
    display: flex;
    width: 100%;
    gap: 10px;
}

.form-add-user-permission input {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #000000;
    border-radius: 4px;
}

.form-add-user-permission button {
    background: #4cbd7b;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.form-add-user-permission button:hover {
    background: #3a9d63;
}

.form-add-user-permission select {
    padding: 8px;
    border: 1px solid #000000;
    border-radius: 4px;
}

ul.user-permission-list {
    list-style: none;
    padding: 0;
    width: 100%;
    margin-bottom: 20px;
    overflow-y: auto;
}

li.user-permission-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

li.user-permission-item:hover {
    background: #f9f9f9;
}

li.user-permission-item p:last-child {
    font-size: small;
}

button.remove-permission-btn {
    background: #e74c3c;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5px;
}

button.remove-permission-btn:hover {
    background: #c0392b;
}

button.remove-permission-btn:disabled {
    background: #e0e0e0;
    cursor: not-allowed;
}

.close-overlay-btn {
    background: #cfcfcf;
    border: none;
    padding: 8px 12px;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
}

.close-overlay-btn:hover {
    background: #b3b3b3;
}