.overlay-edit-file-name {
    position: fixed;
    left: 0;
    bottom: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
}

.overlay-edit-file-name-content {
    background-color: #fff;
    padding: 12px 15px;
    border-radius: 8px;
    border: 2px solid #ddd;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 10px;
    align-items: center;
}

.overlay-edit-file-name-content input[type="text"] {
    padding: 8px 12px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 4px;
    font-size: 16px;
    width: 250px;
}

.overlay-edit-file-name-content .btn-confirm-edit-file-name {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}