.overlay-content-user-permission-manage {
    background: white;
    padding: 15px;
    border-radius: 8px;
    min-width: 500px;
    width: 40%;
    max-width: 700px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-height: 70%;
}

.form-add-user-permission {
    display: flex;
    width: 100%;
    gap: 10px;
    margin: 10px 0;
}

.form-add-user-permission input {
    flex-grow: 1;
    font-size: 1rem;
    padding: 10px;
    padding-left: 12px;
    padding-right: 40px;
    outline: none;
    border: 1px solid #c2c2c2;
    background-color: transparent;
    transition: 0.3s;
    border-radius: 4px;
}

.form-add-user-permission input:hover {
    border: 1px solid #696969;
}

.form-add-user-permission input:focus {
    border: 1px solid #000000;
}

.form-add-user-permission button:hover {
    background: #3a9d63;
}

.form-add-user-permission select {
    font-size: 1rem;
    padding: 10px 5px;
    outline: none;
    border: 1px solid #c2c2c2;
    background-color: transparent;
    transition: 0.3s;
    border-radius: 4px;
}

.form-add-user-permission select:hover {
    border: 1px solid #696969;
}

.form-add-user-permission select:focus {
    border: 1px solid #000000;
}

.form-add-user-permission button {
    font-size: 1rem;
    background: #4cbd7b;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

ul.user-permission-list {
    list-style: none;
    padding: 0;
    width: 100%;
    margin-bottom: 20px;
    overflow-y: auto;
}

li.user-permission-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

li.user-permission-item:hover {
    background: #f9f9f9;
}

/* li.user-permission-item p:last-child {
    font-size: small;
} */

button.remove-permission-btn {
    background: #e74c3c;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5px;
}

button.remove-permission-btn:hover {
    background: #c0392b;
}

button.remove-permission-btn:disabled {
    background: #e0e0e0;
    cursor: not-allowed;
}

.close-overlay-btn {
    font-size: 1rem;
    background: #cfcfcf;
    color: white;
    border: none;
    padding: 8px 12px;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
}

.close-overlay-btn:hover {
    background: #bbbbbb;
}