.circle-wrap {
  position: relative;
  width: 160px;
  height: 160px;
}

.circle {
  transform: rotate(-90deg);
}

circle {
  fill: none;
  stroke-width: 12;
}

.bg {
  stroke: #ffefef;
}

.progress {
  stroke: #FBCEFF; /* สีม่วง */
  stroke-linecap: round;
  stroke-dasharray: 440;
  transition: stroke-dashoffset 0.6s ease;
}

.text {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.title {
  font-size: 20px;
  font-weight: bold;
}

.sub {
  font-size: 13px;
  color: #666;
}
