.sidebar {
  padding: 20px;
  min-width: 300px;
  max-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 25px;
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.05);
  /* background-color: gray; */
}

.sidebar-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.device-list {
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sidebar-bottom {
  width: 100%;
  height: 70px;
  /* background-color: #ccc; */
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 15px;
}

.device-list hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 5px 0;
}

.footer {
  /* background-color: black; */
  display: flex;
  justify-content: center;
}

.sidebar-bottom-btn {
  padding: 8px 15px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: background-color 0.2s;
}

.sidebar-bottom-btn:hover {
  background-color: #e0e0e0;
}