.sidebar {
  padding: 20px;
  min-width: 300px;
  max-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 25px;
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.05);
  /* background-color: gray; */
}

.sidebar-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  overflow: hidden;
}

.qr-for-share {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  transform-origin: top;
  transform: scaleY(0);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  height: 0;
}

.qr-for-share.qr-for-share-show {
  transform: scaleY(1);
  opacity: 1;
  height: auto;
}

.sw-view-header-sidebar {
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sw-view-header-sidebar img {
  width: 18px;
  height: 18px;
  user-select: none;
  transition: transform 0.3s ease;
}

.storage-chart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transform-origin: top;
  transform: scaleY(0);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  height: 0;
}

.storage-chart.storage-chart-show {
  transform: scaleY(1);
  opacity: 1;
  height: auto;
}



.sidebar-item-list {
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sidebar-bottom {
  width: 100%;
  height: 70px;
  /* background-color: #ccc; */
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 15px;
}

.sidebar-item-list hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 5px 0;
}

.footer {
  /* background-color: black; */
  display: flex;
  justify-content: center;
}

.sidebar-bottom-btn {
  padding: 8px 15px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: background-color 0.2s;
}

.sidebar-bottom-btn:hover {
  background-color: #e0e0e0;
}